/* HEADER BAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111;
}

.teaBreakLogo img {
    width: 150px;
    height: 46px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    width: 20em;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

a {
    color: white;
}

#navDropdown {
    display: none;
}

.navDropdownIcon {
    display: none;
}

/* BODY */
body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
    margin: 0 25%;
}

main {
    padding: 5em 0;
    font-size: 18px;
    /*text-align: justify;*/
}

/* HOMEPAGE */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20%;
    font-size: 20px;
}

.meetTheTeam {
    text-align: center;
}

.meetTheTeam h2 {
    margin-bottom: 2rem;
}

.teamMembers {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.member {
    text-align: center;
}

.member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    cursor: pointer;
}

.member img:hover {
    transform: scale(1.2);
    /* filter: hue-rotate(180deg); */
}

/* CLICKPUP */
/*.clickPupDownloadLink {*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*    color: white;*/
/*}*/

/*!* TODO color contrast failed: https://dequeuniversity.com/rules/axe/4.8/color-contrast*!*/
/*.clickPupDownloadLink a {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    color: #fff;*/
/*    background-color: #cea3ff;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    text-decoration: none;*/
/*}*/

.clickPupBanner {
    display: flex;
    align-items: center;
    text-align: center;
    /*justify-content: center;*/
    /*margin-top: 1rem;*/
    /*margin-bottom: 2rem;*/
}

.clickPupBanner img {
    margin-right: 0.4rem;
    /*height: 93px;*/
    /*width: 400px;*/
    /*width: 50%;*/
}

.disclaimer {
    font-size: small;
    font-style: italic;
}

.centered {
    text-align: center;
    /*font-size: 22px;*/
}


/* FOR PHONE RESOLUTION */
@media screen and (max-width: 900px) {
    body{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 600px) {
    nav {
        justify-content: flex-end;
    }

    nav a {
        display: block;
    }

    .navShown {
        display: none;
    }

    .navDropdownIcon {
        display: block;
        /*margin-right: 5rem;*/
    }

    .teamMembers {
        display: block;
    }

    .homepage {
        padding: 0;
        margin-top: 20%;
    }
}

@media screen and (min-width: 1500px) {
    body{
        margin: 0 30%;
    }
    .member img {
        width: 300px;
        height: 300px;
    }
}