body {
    margin: 0;
    background-color: #222;
    color: white;
    font-family: sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111;
}

.logo img {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    width: 20em;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

#myDropdown {
    display: none;
}

.pupicon {
    display: none;
}

main {
    padding: 5em 0;
}

.meet-the-team {
    text-align: center;
}

.meet-the-team h2 {
    margin-bottom: 2rem;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.member {
    text-align: center;
}

.member img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.get-started {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.get-started a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #cea3ff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

@media screen and (max-width: 1700px) {
    body{
        margin-left: 10%;
        margin-right: 10%;
    }

    nav {
        width: 5em;
    }

    .clickpup {
        display: none;
    }
    
    .pupicon {
        display: block;
    }
}